* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  max-width: max(480px, 20vw);
  font-family: 'Roboto', sans-serif;
}

.disabled {
  opacity: 0.5;
}

.form-group {
  display: flex;
  margin-bottom: 8px;

  > {
    label {
      flex: 2;
    }
    input {
      flex: 1;
    }
  }
}

.info {
  color: #666;
}

.link {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #333;

  &:hover {
    filter: brightness(1.2);
  }

  > * {
    margin: 0 2px;
  }
}

.text-center {
  text-align: center;
}

.center {
  display: block;
  margin: 0 auto;
}

button,
textarea {
  width: 100%;
}

button {
  margin: 8px 0;
  padding: 4px 6px;
}

textarea {
  min-height: 336px;
  font-family: 'Roboto Mono', monospace;
}

.preview {
  background: #3338;
  font-size: 80px;
  margin: auto;
  position: relative;
  zoom: 0.25;

  .screen {
    align-items: center;
    background: #333;
    display: flex;
    justify-content: center;
    position: absolute;
    color: #fff;
  }
}
