* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  max-width: max(480px, 20vw);
  font-family: 'Roboto', sans-serif;
  overflow-y: scroll;
}

button,
textarea {
  width: 100%;
}

button {
  padding: 4px 6px;
}

button,
input {
  &:not([disabled]) {
    cursor: pointer;
  }
}

input {
  &[type='number'] {
    width: 72px;
  }
}

textarea {
  font-family: 'Roboto Mono', monospace;
}

hr {
  margin: 12px -16px;
}

label {
  &[for] {
    cursor: pointer;
  }
}

[title] {
  cursor: help;
}

.form-group {
  display: flex;
  justify-content: space-between;
  gap: 4px;

  margin-bottom: 8px;
}

.flex {
  display: flex;

  &.justify-between {
    justify-content: space-between;
  }
}

.small {
  font-size: smaller;
}

.link {
  display: flex;
  justify-content: center;
  align-items: center;

  > * {
    margin: 0 2px;
  }
}

.text-center {
  text-align: center;
}

.center {
  display: block;
  margin: 0 auto;
}

.preview {
  margin: auto;
  position: relative;
  width: 480px;
  height: 270px;

  .screen {
    align-items: center;
    display: flex;
    justify-content: center;
    overflow: hidden;
    position: absolute;
    background-size: cover;
  }
}
