* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  max-width: max(480px, 20vw);
  font-family: 'Roboto', sans-serif;
  overflow-y: scroll;
}

.form-group {
  display: flex;
  gap: 4px;
  margin-bottom: 8px;

  > {
    * {
      flex: 1;
    }
    label {
      flex: 2;
    }
  }
}

.info {
  opacity: 0.5;
}

.link {
  display: flex;
  justify-content: center;
  align-items: center;

  > * {
    margin: 0 2px;
  }
}

.text-center {
  text-align: center;
}

.center {
  display: block;
  margin: 0 auto;
}

button,
textarea {
  width: 100%;
}

button {
  cursor: pointer;
  padding: 4px 6px;
}

textarea {
  min-height: 336px;
  font-family: 'Roboto Mono', monospace;
}

.preview {
  box-sizing: content-box;
  font-size: 80px;
  margin: auto;
  position: relative;
  zoom: 0.25;

  .screen {
    align-items: center;
    display: flex;
    justify-content: center;
    overflow: hidden;
    position: absolute;
  }
}
