:root {
  --c-character-bg: #e9e5dc;
  --c-character-fg: #495366;
  --card-roundness: 5px;
  --character-height: 176px;
  --character-width: 128px;
  --portrait-height: 128px;
  --portrait-width: 128px;
}

h1 {
  font-weight: normal;
}

html {
  background: url(bg.jpg);
  background-size: cover;
}

body {
  background: no-repeat bottom right;
  background-size: contain;
  color: #fff;
  font-family: 'HYWenHei 85W', 'Lucida Sans', non-serif;
  margin: 0;
}

.main {
  margin: 0 auto;
  padding: 8px 0 16px;
  width: 848px;
}

.center-text {
  display: inline-block;
  text-align: center;
  width: 100%;
}

.characters-grid {
  display: grid;
  grid-gap: 16px;
  grid-template-columns: repeat(auto-fill, var(--character-width));
  grid-template-rows: repeat(auto-fill, var(--character-height));
}

.characters-grid + .characters-grid {
  margin-top: 12px;
}

.character {
  background: var(--c-character-bg);
  border-radius: 7px 7px var(--card-roundness) var(--card-roundness);
  box-shadow: 0 1px 8px #0004;
  color: var(--c-character-fg);
  cursor: pointer;
  height: var(--character-height);
  transition: .1s;
}
.character:hover {
  filter: brightness(1.05) saturate(110%);
}

.character-portrait {
  border-bottom: 1px solid #0004;
  border-radius: var(--card-roundness) var(--card-roundness) 24px var(--card-roundness);
  height: var(--portrait-height);
  width: var(--portrait-width);
}

.character-text {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  padding: 4px 0;
}
