$paths: 'destruction', 'hunt', 'erudition', 'harmony', 'nihility',
  'preservation', 'abundance';

$elements: 'fire', 'ice', 'imaginary', 'lightning', 'physical', 'quantum',
  'wind';

@font-face {
  font-family: 'DIN';
  src: url('assets/fonts/DIN/DIN Medium.ttf');
}

:root {
  --c-item-bg: #202020;
  --c-item-fg: #c2c2c3;

  --artwork-size: 120px;
  --card-roundness: 0;
  --grid-cols: 9;
}

html {
  background-image: url(assets/images/bg.jpg);
}

body {
  cursor: url(./assets/images/cursor.png) 1 1, auto;
  font-family: 'DIN', non-serif;
  font-size: 16px;
}

.item {
  border-radius: var(--card-roundness) 20px var(--card-roundness)
    var(--card-roundness);
  border-bottom: 2px solid;

  &:hover {
    $glow-color: #FFF;
    $glow-size: 3px;
    box-shadow: 0 0 $glow-size $glow-size - 1 $glow-color;
    outline: $glow-size solid  $glow-color;
  }

  &.rarity-3 {
    border-color: #3e67a3;
  }
  &.rarity-4 {
    border-color: #9661d5;
  }
  &.rarity-5 {
    border-color: #d2ad72;
  }

  .item-portrait {
    &:before {
      --size: 24px;
      border-radius: 50%;
      background-color: #0008;
      margin: 6px;
    }
  }

  .uncap-text {
    background: #000a;
    padding: 2px;
  }

  &:hover {
    scale: 1.05;

    & > .bottom-text {
      scale: 0.9525;
    }
  }
}

.characters-grid,
.weapons-grid {
  .uncap-text {
    border-radius: 0 var(--card-roundness) 0 var(--card-roundness);
    right: 0;
  }
}

.characters-grid {
  --bottom-text-height: 26px;
  --card-height: calc(var(--artwork-size) + var(--bottom-text-height));

  .item {
    @each $element in $elements {
      &.#{$element} {
        .item-portrait {
          &:before {
            background-image: url(assets/images/elements/#{$element}.png);
          }
        }
      }
    }

    @each $path in $paths {
      &.#{$path} {
        .bottom-text {
          .level {
            &:before {
              background-image: url(assets/images/paths/#{$path}.png);
            }
          }
        }
      }
    }
  }
}

.weapons-grid {
  --bottom-text-height: 46px;
  --card-height: calc(var(--artwork-size) + var(--bottom-text-height));

  .item {
    @each $path in $paths {
      &.#{$path} {
        .item-portrait {
          &:before {
            background-image: url(assets/images/paths/#{$path}.png);
          }
        }
      }
    }

    .level {
      &:before {
        display: none;
      }
    }

    .item-portrait {
      background: center 4px / 100% auto no-repeat, center top / 100% auto no-repeat;

      &:before {
        background-size: 75%;
      }
    }
  }
}
