$paths: 'destruction', 'hunt', 'erudition', 'harmony', 'nihility',
  'preservation', 'abundance';

$elements: 'fire', 'ice', 'imaginary', 'lightning', 'physical', 'quantum',
  'wind';

@font-face {
  font-family: 'DIN';
  src: url('assets/fonts/DIN/DIN Medium.ttf');
}

:root {
  --c-item-bg: #202020;
  --c-item-fg: #c2c2c3;

  --font-size: 16px;

  --artwork-size: 120px;
  --badge-size: 24px;
  --card-roundness: 0;
  --corner-roundness: 20px;
  --grid-cols: 7;

  --section-border-width: 1px;
  --section-spacing: 24px;

  --uncap-font-size: 18px;
  --uncap-size: 28px;
}

html {
  background-image: url(assets/images/bg.jpg);
}

body {
  cursor: url(./assets/images/cursor.png) 1 1, auto;
  font-family: 'DIN', non-serif;
  font-size: var(--font-size);
}

a {
  &,
  &:visited {
    color: #dbb578;
  }
}

.main {
  max-width: calc(
    var(--artwork-size) * var(--grid-cols) + var(--grid-gap) *
      (var(--grid-cols) + 1) + var(--section-border-width) * 2
  );
}

.item-section {
  backdrop-filter: blur(16px);
  border-radius: 4px;
  border: var(--section-border-width) solid #fff2;
  padding: 0 var(--grid-gap) var(--grid-gap);
}

.item {
  border-radius: var(--card-roundness) var(--corner-roundness)
    var(--card-roundness) var(--card-roundness);
  border-bottom: 2px solid;

  &:hover {
    $glow-color: #fff;
    $glow-size: 3px;
    box-shadow: 0 0 $glow-size $glow-size - 1 $glow-color, var(--item-shadow);
    outline: $glow-size solid $glow-color;
  }

  &.rarity-3 {
    border-color: #3e67a3;
  }
  &.rarity-4 {
    border-color: #9661d5;
  }
  &.rarity-5 {
    border-color: #d2ad72;
  }

  .item-portrait {
    &:before {
      --size: var(--badge-size);
      border-radius: 50%;
      background-color: #0008;
      margin: 6px;
    }
  }

  .uncap-text {
    background: #000a;
  }
}

.characters-grid {
  --card-height: calc(var(--artwork-size) + var(--bottom-text-height));

  .item {
    @each $element in $elements {
      &.#{$element} {
        .item-portrait {
          &:before {
            background-image: url(assets/images/elements/#{$element}.png);
          }
        }
      }
    }

    @each $path in $paths {
      &.#{$path} {
        .bottom-text {
          .level {
            &:before {
              background-image: url(assets/images/paths/#{$path}.png);
            }
          }
        }
      }
    }

    .uncap-text {
      background: #000a;
      border-radius: 0 var(--corner-roundness) 0
        calc(var(--corner-roundness) / 2);
      font-size: var(--uncap-font-size);
      right: 0;
    }
  }
}

.weapons-grid {
  --card-height: calc(var(--artwork-size) + var(--bottom-text-height));

  .item {
    @each $path in $paths {
      &.#{$path} {
        .item-portrait {
          &:before {
            background-image: url(assets/images/paths/#{$path}.png);
          }
        }
      }
    }

    .level {
      &:before {
        display: none;
      }
    }

    .item-portrait {
      background: -1px 4px / 100% auto no-repeat,
        center top / 100% auto no-repeat;

      &:before {
        background-size: 75%;
      }
    }

    .uncap-text {
      --size: var(--badge-size);
      background-color: #0008;
      border-radius: 50%;
      font-family: serif;
      font-size: 90%;
      left: 6px;
      top: 32px;

      &.maxed {
        background: #ffe14b;
        color: var(--c-item-bg);
      }
    }
  }
}
