:root {
  --c-background: #181818;
  --c-foreground: #aaa;
  --c-primary: #49c8f0;
  --c-link: #49c8f0;
  --c-link-hover: #49c8f0;

  --talent-image-size: 192px;
  --transition: 0.15s;
}

body {
  background: var(--c-background);
  color: var(--c-foreground);
  font-family: 'Roboto', non-serif;
  font-size: 20px;
  margin: 0;
  padding: 16px 0;
  text-align: center;
}

h1 {
  color: var(--c-primary);
  font-weight: normal;
}

a {
  color: var(--c-link);
  text-decoration: none;
  transition: var(--transition);
}
a:hover {
  filter: brightness(1.5)
}

.talent {
  background: transparent;
  border-radius: 12px;
  color: var(--c-primary);
  display: inline-block;
  padding: 6px 6px 2px;
  position: relative;
  transition: var(--transition);
  margin: 0 2px;
}
.talent.graduated img {
  filter: grayscale(.8) brightness(.5);
}
.talent.graduated:after {
  --size: 56px;
  --spacing: -8px;
  background-image: url(assets/images/graduation_hat.png);
  background-size: contain;
  content: '';
  height: var(--size);
  position: absolute;
  right: var(--spacing);
  top: var(--spacing);
  width: var(--size);
  z-index: 1;
}
.talent:hover {
  background: var(--c-primary);
  color: var(--c-background);
}

.talent img {
  border-radius: 6px;
  border: 1px solid #0002;
  width: var(--talent-image-size);
}

.talent-text {
  padding: 6px 0;
}

.back-to-top {
  background: var(--c-background);
  border-top-left-radius: 8px;
  bottom: 0;
  display: block;
  padding: 8px 12px;
  position: fixed;
  right: 0;
}

.footer {
  margin-top: 25vh;
}
