body {
  background: #111;
  color: #fff;
  margin: 12px 20px;
}

h1 {
  margin: 12px 0;
}

img {
  height: 32px;
  image-rendering: pixelated;
  margin-right: 6px;
  width: auto;
}

ul {
  list-style: none;
  padding-left: 4px;
}

a {
  align-items: center;
  color: #5a96f6;
  display: inline-flex;
  line-height: 36px;
  text-decoration: none;
  transition: 0.2s;
}
a:visited {
  color: #b775f0;
}
a:hover {
  filter: brightness(1.33);
  transform: translate(4px, 0);
}
