body {
  background: #111;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  margin: 16px 20px;
}

h1 {
  margin: 16px 0;
}

img {
  height: 32px;
  margin-right: 6px;
  width: auto;
}
img.pixelated {
  image-rendering: pixelated;
}

ul {
  list-style: none;
  margin: 0;
  padding-left: 4px;
}

a {
  align-items: center;
  color: #5a96f6;
  display: inline-flex;
  line-height: 40px;
  text-decoration: none;
  transition: 0.2s;
}
a:visited {
  color: #b775f0;
}
a:hover {
  filter: brightness(1.33);
  transform: translate(4px, 0);
}

.main-container {
  margin: 0 auto;
  max-width: 1280px;
}

@media (min-width: 900px) {
  .groups-container {
    display: flex;
  }

  .group {
    display: inline-flex;
    flex-direction: column;
    flex: 1;
  }
}
