$weaponTypes: 'bow', 'catalyst', 'claymore', 'pole', 'sword';
$elements: 'anemo', 'cryo', 'dendro', 'electro', 'geo', 'hydro', 'pyro';

:root {
  --c-item-bg: #e9e5dc;
  --c-item-fg: #495366;

  --artwork-size: 100px;
  --card-roundness: 4px;
  --grid-gap: 16px;
  --line-height: 20px;
  --transition: 150ms;
  --uncap-size: 20px;
}

@font-face {
  font-family: 'HYWenHei 85W';
  src: url('assets/fonts/HYWenHei 85W.woff2');
}

a {
  &,
  &:visited {
    color: #657ef8;
    transition: 150ms;
    text-decoration: none;
  }
  &:hover {
    filter: brightness(1.25);
  }
}

h1,
h2 {
  font-weight: normal;
  margin: 0;
}

h1 {
  padding: 20px 0;
}

h2 {
  padding: 16px 0;
}

html {
  background: url(assets/images/bg.jpg);
  background-attachment: fixed;
  background-size: cover;
}

body {
  background: no-repeat bottom right;
  background-attachment: fixed;
  background-size: auto min(640px, 100vh);
  color: #fff;
  font-family: 'HYWenHei 85W', non-serif;
  font-size: 14px;
  margin: 0;
  padding: 0 var(--grid-gap);
}

small {
  color: #999;
}

.main {
  margin: 0 auto;
  max-width: 1260px;
}

.item-section {
  min-height: 100vh;
}

.center-text {
  display: inline-block;
  text-align: center;
  width: 100%;
}

.items-grid {
  display: grid;
  grid-gap: var(--grid-gap);
  grid-template-columns: repeat(auto-fill, var(--artwork-size));
  grid-template-rows: repeat(auto-fill, var(--card-height));
  justify-content: center;
  margin-bottom: 24px;

  &:has(.item:hover) .item:not(:hover) {
    filter: grayscale(0.75);
  }
}

.item {
  background: linear-gradient(0deg, var(--c-item-bg) 67%, transparent 67%);
  border-radius: var(--card-roundness);
  box-shadow: 0 1px 8px #0004;
  color: var(--c-item-fg);
  cursor: pointer;
  height: var(--card-height);
  overflow: hidden;
  position: relative;
  transition: var(--transition);

  .item-portrait {
    $roundness: var(--card-roundness);
    border-bottom: 1px solid #0004;
    border-radius: $roundness $roundness 24px $roundness;
    height: var(--artwork-size);
    margin-bottom: -1px; /* compensate for border */
    transition: var(--transition);
    width: var(--artwork-size);
  }

  .item-text {
    font-weight: 500;
    line-height: var(--line-height);
    transition: var(--transition);
  }

  .uncap-text {
    background: #0006;
    border-radius: var(--card-roundness) 0 var(--card-roundness) 0;
    color: white;
    height: var(--uncap-size);
    left: 0;
    padding: 0;
    position: absolute;
    top: 0;
    width: var(--uncap-size);

    &.maxed {
      background: #a96759;
      color: #ffe14b;
    }
  }

  .bottom-text {
    line-height: 18px;
    overflow: hidden;

    .name,
    .level {
      align-items: center;
      display: flex;
      justify-content: center;
      transition: var(--transition);
    }

    .name {
      white-space: pre-line;
    }

    .level {
      &:before,
      &:after {
        $size: 20px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: $size $size;
        content: '';
        display: inline-block;
        height: $size;
        width: $size;
      }
      &:before {
        $size: 20px;
        background-size: $size $size;
        margin-right: 4px;
      }
      &:after {
        $size: 16px;
        background-image: url(assets/images/elements/wildcard.png);
        background-size: $size $size;
        margin-left: 4px;
      }
    }
  }

  &:hover {
    scale: 1.08;

    & .item-portrait {
      $roundness: var(--card-roundness);
      border-radius: $roundness $roundness 12px $roundness;
    }

    & > .bottom-text {
      scale: 0.925;
    }
  }

  @each $weaponType in $weaponTypes {
    &.#{$weaponType} {
      .bottom-text {
        .level {
          &:before {
            background-image: url(assets/images/weapons/#{$weaponType}.png);
          }
        }
      }
    }
  }

  @each $element in $elements {
    &.#{$element} {
      .bottom-text {
        .level {
          &:after {
            background-image: url(assets/images/elements/#{$element}.png);
          }
        }
      }
    }
  }
}

.characters-grid {
  --bottom-text-height: 28px;
  --card-height: calc(var(--artwork-size) + var(--bottom-text-height));

  .item {
    .bottom-text {
      height: calc(var(--line-height) * 2);

      .name,
      .level {
        height: var(--bottom-text-height);
      }
    }

    &:hover {
      .name {
        margin-top: calc(var(--bottom-text-height) * -1);
      }
    }
  }
}

.weapons-grid {
  --bottom-text-height: 46px;
  --card-height: calc(var(--artwork-size) + var(--bottom-text-height));

  .item {
    .bottom-text {
      height: calc(var(--line-height) * 3);

      .name,
      .level {
        height: var(--bottom-text-height);
      }
    }

    &:hover {
      .name {
        margin-top: calc(var(--bottom-text-height) * -1);
      }
    }
  }
}

.back-to-top {
  bottom: 0;
  cursor: pointer;
  margin: 12px;
  position: fixed;
  right: 0;
  transition: 150ms;

  &:hover {
    filter: brightness(1.25);
  }
}

/* utility */
.no-padding-bottom {
  padding-bottom: 0;
}
