:root {
  --c-item-bg: #e9e5dc;
  --c-item-fg: #495366;

  --artwork-size: 100px;
  --card-roundness: 5px;
  --grid-gap: 16px;
  --uncap-size: 20px;
}

@font-face {
  font-family: 'HYWenHei 85W';
  src: url('assets/fonts/HYWenHei 85W.woff2');
}

h1 {
  font-weight: normal;
}

h2 {
  font-weight: normal;
}

html {
  background: url(assets/images/bg.jpg);
  background-attachment: fixed;
  background-size: cover;
}

body {
  background: no-repeat top right;
  background-attachment: fixed;
  background-position-y: calc(100vh - 720px);
  background-size: auto 720px;
  color: #fff;
  font-family: 'HYWenHei 85W', 'Lucida Sans', non-serif;
  font-size: 14px;
  margin: 0;
  padding: 0 var(--grid-gap);
}

.main {
  margin: 0 auto;
  padding: 8px 0 16px;
  max-width: 1260px;
}

.center-text {
  display: inline-block;
  text-align: center;
  width: 100%;
}

.items-grid {
  --card-height: 160px;
  display: grid;
  grid-gap: var(--grid-gap);
  grid-template-columns: repeat(auto-fill, var(--artwork-size));
  grid-template-rows: repeat(auto-fill, var(--card-height));
  justify-content: center;
  margin-bottom: 24px;
}

.characters-grid {
  --card-height: 148px;
}

.weapons-grid {
  --card-height: 168px;
}

.weapons-grid .name {
  align-items: center;
  display: flex;
  height: 40px;
  justify-content: center;
  white-space: break-spaces;
}

.item {
  background: var(--c-item-bg);
  border-radius: 7px 7px var(--card-roundness) var(--card-roundness);
  box-shadow: 0 1px 8px #0004;
  color: var(--c-item-fg);
  cursor: pointer;
  height: var(--card-height);
  position: relative;
  transition: 0.1s;
}
.item:hover {
  filter: brightness(1.05) saturate(110%);
}

.item-portrait {
  border-bottom: 1px solid #0004;
  border-radius: var(--card-roundness) var(--card-roundness) 24px
    var(--card-roundness);
  height: var(--artwork-size);
  width: var(--artwork-size);
}

.item-text {
  font-weight: 500;
  line-height: 20px;
  padding: 4px 0;
}

.uncap-text {
  background: #0006;
  color: white;
  height: var(--uncap-size);
  padding: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: var(--uncap-size);
  border-radius: 0 var(--card-roundness) 0 var(--card-roundness);
}
.uncap-text.maxed {
  background: #a96759;
  color: #ffe14b;
}

.weapon .uncap-text {
  left: 0;
  border-radius: var(--card-roundness) 0 var(--card-roundness) 0;
}
