:root {
  --padding: 12px;
  --gap: 8px;
  --cols: 5;
}
body {
  background: #2c323a;
  font-family: sans-serif;
  margin: 0;
  padding: var(--padding);
}
ul {
  display: grid;
  gap: var(--gap);
  grid-template-columns: repeat(5, 1fr);
  justify-content: center;
  margin: 0;
  padding: 0;
}
li {
  align-items: center;
  display: flex;
  flex-direction: column;
  list-style: none;
}
a {
  color: white;
  text-align: center;
  text-decoration: none;
}
img {
  aspect-ratio: 460 / 215;
  background: #fff2;
  width: 100%;
}