$spacing: 8px;

body {
  background: #888;
  margin: 4px;
  overflow-y: scroll;
}

h1 + small {
  display: inline-block;
  margin-top: -16px;
}

h2 {
  margin: 20px 0 $spacing;
}

.images-container {
  a {
    display: inline-block;
  }

  img {
    margin: 0 $spacing $spacing 0;
    max-width: 608;
  }

  .images-group {
    font-size: 0;
  }

  .scene {
    img {
      max-width: 464px;
    }
  }
}
