$content-padding: 24px;
$content-margin: 36px;
$min-content-width: 1024px;

* {
  box-sizing: border-box;
}

/* chrome */
html {
  --active-bg-color: #8bb5f829;
  --cr-card-background-color: #292a2d;
  --cr-card-border-radius: 8px;
  --cr-disabled-opacity: 0.38;
  --cr-elevation-2: #0000004d 0 1px 2px 0, #00000026 0 2px 6px 2px;
  --cr-input-background-color: #0000004d;
  --cr-input-border-radius: 4px;
  --cr-readonly-opacity: 0.66;
  --cr-section-padding: 20px;
  --cr-separator-line: 1px solid #ffffff1a;
  --cr-toolbar-field-width: 680px;
  --google-blue-300: #8ab4f8;
  --google-grey-200: #e8eaed;
  --google-grey-700: #5f6368;
  --hover-bg-color: #8bb5f814;
}

body {
  background: #202124;
  color: var(--google-grey-200);
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 81.25%;
}

h1 {
  font-size: 170%;
}

a,
a:visited {
  color: var(--google-blue-300);
}

input {
  &[type='checkbox'] {
    filter: invert(0.85) hue-rotate(180deg);
  }
}

input,
textarea {
  background-color: var(--cr-input-background-color);
  border: 2px solid transparent;
  border-radius: var(--cr-input-border-radius);
  caret-color: var(--google-blue-300);
  color: var(--google-grey-200);
  font-family: monospace;
  outline: none;
  transition: 0.2s;

  &:not([readonly]) {
    &:focus {
      border-bottom-color: var(--google-blue-300);
    }
  }
  &[readonly] {
    opacity: var(--cr-readonly-opacity);
  }
}

.card {
  background-color: var(--cr-card-background-color);
  box-shadow: var(--cr-elevation-2);
  font-size: 13px;
  border-radius: var(--cr-card-border-radius);
}
.card .section {
  font-size: 13px;
  line-height: 20px;
  padding: 0 20px;
}
.card .section.hr {
  border-top: var(--cr-separator-line);
}
.card .section .section-content {
  color: #9aa0a6;
}

.border-bottom {
  border-bottom: var(--cr-separator-line);
}

.page-header {
  font-size: 14px;
  display: flex;
  align-items: center;
}
.page-header img {
  margin-right: 12px;
}

/* Scrollbar */
::-webkit-scrollbar,
::-webkit-scrollbar-corner,
::-webkit-scrollbar-track-piece {
  background: transparent;
}

::-webkit-resizer {
  border: 8px solid transparent;
  border-right-color: #444;
  border-bottom-color: #444;
}

::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 8px;
  border: 3px solid #1d1d1f;
}

::-webkit-scrollbar-thumb:hover {
  background: #444;
  border-width: 2px;
}

/* site */

html {
  --input-spacing: 8px;
}

.content-wrapper {
  max-width: $min-content-width;
  width: 100%;
  margin: auto;
}

header,
footer {
  background: var(--cr-card-background-color);
  display: flex;
  justify-content: center;
  text-align: center;
}

header {
  border-bottom: var(--cr-separator-line);
}

footer {
  border-top: var(--cr-separator-line);
  padding: 1vw;

  .content-wrapper {
    text-align: center;

    & > :last-child {
      margin-bottom: 0;
    }
  }
}

.anchor-list {
  font-size: 1.2em;
  margin: 0;
  padding: 0;
  padding: 10px 0;
  text-align: center;

  li {
    list-style: none;
    display: inline-block;

    &:not(:last-child) {
      &:after {
        content: ' | ';
      }
    }

    a {
      display: inline-block;
      padding: 2px 4px;
    }
  }
}

.section-title {
  margin-bottom: $content-padding;
  font-weight: bold;
  font-size: 1.5em;
}

.center-contents {
  display: flex;
  gap: 12px;
  justify-content: center;
}

.flex {
  display: flex;
  column-gap: var(--input-spacing);

  &:not(:last-child) {
    margin-bottom: var(--input-spacing);
  }
}

.flex1 {
  flex: 1;
}

.form-padded {
  padding: 6px 8px;
}

label {
  margin: 0;
  padding-right: 6px;

  &[for] {
    cursor: pointer;

    + input[type='checkbox'] {
      margin-left: 0;
    }
  }
}

input {
  height: auto !important;

  &[type='checkbox'] {
    cursor: pointer;
  }
}

input,
textarea {
  @extend .form-padded;

  width: 100%;
}

textarea {
  resize: vertical;
  white-space: pre;
  border: 2px solid transparent;

  &[readonly] {
    cursor: text;
    resize: none;
  }
}

@media (max-width: $min-content-width) {
  #content-wrapper {
    min-width: 0 !important;
    width: calc(100vw - #{$content-padding} * 2) !important;
  }
}

/* theme */

button,
.btn {
  background: transparent;
  border-radius: var(--cr-input-border-radius);
  border: 1px solid var(--google-grey-700);
  color: var(--google-blue-300);
  padding: 8px 16px;
  transition: 0.2s;

  &:not(:disabled) {
    cursor: pointer;

    &:hover {
      background: var(--hover-bg-color);
    }
    &:active {
      background: var(--active-bg-color);
    }
  }
  &:disabled {
    opacity: 0.33;
  }
}

.card {
  max-width: 100%;
  margin: $content-margin 0;

  // .card-header,
  // .card-content,
  // .card-footer {

  // }

  .card-header {
    font-size: 107.6923%;
    padding: 16px var(--cr-section-padding);
    white-space: nowrap;

    &,
    > * {
      display: flex;
      align-items: center;
    }

    .card-title {
      flex: 1;

      small {
        opacity: var(--cr-disabled-opacity);
      }
    }

    + .card-content {
      border-top: var(--cr-separator-line);
    }
  }

  .card-content {
    padding: var(--cr-section-padding);

    & + .card-footer {
      border-top: var(--cr-separator-line);
    }
  }

  .card-footer {
    padding: 12px var(--cr-section-padding);
  }
}
