:root {
  --c-red: #e03030;
  --c-blue: #38a5dc;
  --c-border: #ccc;

  --contents-width: 926px;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

main {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: fit-content;
}

table {
  font-size: 40px;
  overflow: hidden;
}

td {
  border: solid var(--c-border);
  border-width: 1px 0 0 1px;
}
td:last-child {
  border-right-width: 1px;
}
tr:last-child td {
  border-bottom-width: 1px;
}

td.vertical {
  line-height: 0;
}

td:not(.vertical):not(.label) {
  --size: 40px;
  height: var(--size);
  width: var(--size);
  line-height: var(--size);

  text-align: center;
}

footer {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex: 1;
  justify-content: space-between;
  max-width: var(--contents-width);
  padding: 4px 8px;
}

.label .label {
  color: white;
  font-size: .5em;
  text-transform: uppercase;
}

.label.horizontal {
  display: flex;
  justify-content: end;
}

.label.horizontal .label {
  padding: 0 8px;
}

.label.vertical {
  align-items: center;
  text-align: center;
}

.label.vertical .label {
  padding: 8px 0;
  height: 89px;
  text-align: left;
  transform: rotate(180deg);
  writing-mode: vertical-rl;
}

.label.centered {
  justify-content: center;
}

.label .icon {
  --size: 40px;
  height: var(--size);
  width: var(--size);
  line-height: var(--size);
  background-size: contain;
  display: inline-block;
}

.guides {
  --c-border: #0000;
}
.guides .label {
  --guide-length: 737px;
  --guide-thickness: 4px;
  --guide-margin: 146px;
  position: relative;
}
.guides .label:has([data-type])::after {
  content: '';
  display: block;
  position: absolute;
  background: inherit;
  z-index: -1;
  opacity: 0.67;
}
.guides .label.horizontal::after {
  width: var(--guide-length);
  height: var(--guide-thickness);
  left: var(--guide-margin);
  top: calc(50% - var(--guide-thickness) / 2);
}
.guides .label.vertical::after {
  height: var(--guide-length);
  left: calc(50% - var(--guide-thickness) / 2);
  top: var(--guide-margin);
  width: var(--guide-thickness);
}

.damage::after {
  background: center no-repeat;
  content: '';
  display: block;
  height: 100%;
  width: 100%;
}

td.attack {
  background: var(--c-red);
  border-left: none;
}
td.defense {
  background: var(--c-blue);
  border-top: none;
}

.label.bug { background: #83C300; }
.label.dark { background: #5B5466; }
.label.dragon { background: #006FC9; }
.label.electric { background: #FBD100; }
.label.fairy { background: #FB89EB; }
.label.fighting { background: #E0306A; }
.label.fire { background: #FF9741; }
.label.flying { background: #89AAE3; }
.label.ghost { background: #4C6AB2; }
.label.grass { background: #38BF4B; }
.label.ground { background: #E87236; }
.label.ice { background: #4CD1C0; }
.label.normal { background: #919aa2; }
.label.poison { background: #B567CE; }
.label.psychic { background: #FF6675; }
.label.rock { background: #C8B686; }
.label.steel { background: #5A8EA2; }
.label.water { background: #3692DC; }

.damage.none::after { background-image: url('./assets/images/damage/none.svg'); }
.damage.half::after { background-image: url('./assets/images/damage/half.svg'); }
.damage.normal::after { background-image: url('./assets/images/damage/normal.svg'); }
.damage.double::after { background-image: url('./assets/images/damage/double.svg'); }

[data-type='attack'] { background-image: url('./assets/images/attack.svg'); }
[data-type='defense'] { background-image: url('./assets/images/defense.svg'); }

[data-type='bug'] { background-image: url('./assets/images/types/bug.svg'); }
[data-type='dark'] { background-image: url('./assets/images/types/dark.svg'); }
[data-type='dragon'] { background-image: url('./assets/images/types/dragon.svg'); }
[data-type='electric'] { background-image: url('./assets/images/types/electric.svg'); }
[data-type='fairy'] { background-image: url('./assets/images/types/fairy.svg'); }
[data-type='fighting'] { background-image: url('./assets/images/types/fighting.svg'); }
[data-type='fire'] { background-image: url('./assets/images/types/fire.svg'); }
[data-type='flying'] { background-image: url('./assets/images/types/flying.svg'); }
[data-type='ghost'] { background-image: url('./assets/images/types/ghost.svg'); }
[data-type='grass'] { background-image: url('./assets/images/types/grass.svg'); }
[data-type='ground'] { background-image: url('./assets/images/types/ground.svg'); }
[data-type='ice'] { background-image: url('./assets/images/types/ice.svg'); }
[data-type='normal'] { background-image: url('./assets/images/types/normal.svg'); }
[data-type='poison'] { background-image: url('./assets/images/types/poison.svg'); }
[data-type='psychic'] { background-image: url('./assets/images/types/psychic.svg'); }
[data-type='rock'] { background-image: url('./assets/images/types/rock.svg'); }
[data-type='steel'] { background-image: url('./assets/images/types/steel.svg'); }
[data-type='water'] { background-image: url('./assets/images/types/water.svg'); }

/* utility */

.no-padding {
  padding: 0 !important;
}