:root {
  --c-red: #e03030;
  --c-blue: #38a5dc;
  --c-green: #38bf4b;
  --c-border: #eee;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

table {
  font-size: 40px;
}

td {
  border: solid var(--c-border);
  border-width: 1px 0 0 1px;
}

td.vertical {
  line-height: 0;
}

td:not(.vertical):not(.label) {
  --size: 40px;
  height: var(--size);
  width: var(--size);
  line-height: var(--size);

  text-align: center;
}

footer {
  padding: 4px 8px;
}

.label .label {
  color: white;
  font-size: 50%;
  text-transform: uppercase;
}

.label.horizontal {
  display: flex;
  justify-content: end;
}

.label.horizontal .label {
  padding: 0 8px;
}

.label.vertical {
  align-items: center;
  display: inline-flex;
  flex-direction: column-reverse;
  justify-content: end;
  text-align: center;
}

.label.vertical .label {
  padding: 8px 0;
  height: 88px;
  text-align: left;
  text-orientation: mixed;
  transform: rotate(180deg);
  writing-mode: vertical-rl;
}

.label.centered {
  justify-content: center;
}

.label .icon {
  --size: 40px;
  height: var(--size);
  width: var(--size);
  line-height: var(--size);
  background-size: contain;
  display: inline-block;
}

.normal-damage::after {
  content: '·';
}

.no-damage::after {
  /* content: '●'; */
  content: '✖';
  color: #6f1111;
}

.half-damage::after {
  /* content: '◑'; */
  content: '△';
  color: var(--c-red);
}

.double-damage::after {
  content: '◎';
  color: var(--c-green);
}

td.attack { background: var(--c-red); }
td.defense { background: var(--c-blue); }

.label.normal { background: #919aa2; }
.label.fire { background: #FF9741; }
.label.water { background: #3692DC; }
.label.electric { background: #FBD100; }
.label.grass { background: #38BF4B; }
.label.ice { background: #4CD1C0; }
.label.fighting { background: #E0306A; }
.label.poison { background: #B567CE; }
.label.ground { background: #E87236; }
.label.flying { background: #89AAE3; }
.label.psychic { background: #FF6675; }
.label.bug { background: #83C300; }
.label.rock { background: #C8B686; }
.label.ghost { background: #4C6AB2; }
.label.dragon { background: #006FC9; }
.label.dark { background: #5B5466; }
.label.steel { background: #5A8EA2; }
.label.fairy { background: #FB89EB; }