:root {
  --portrait-height: 80px;
  --portrait-width: 140px;
}

* {
  font-weight: normal;
}

body {
  background-color: #1f1c1a;
  color: #fff;
  font-family: 'Delius';
  margin: 0;
}

.main {
  background-color: #201c1a;
  margin: 0 auto;
  padding: 8px;
  width: 1148px;
}

.units-grid {
  display: grid;
  grid-gap: 4px;
  grid-template-columns: repeat(auto-fill, var(--portrait-width));
  grid-template-rows: repeat(auto-fill, var(--portrait-height));
}

.units-grid + .units-grid {
  margin-top: 12px;
}

.unit-portrait {
  height: var(--portrait-height);
  width: var(--portrait-width);
}
