html {
  scroll-behavior: smooth;
}

body {
  background-attachment: fixed;
  background-color: #1b2838;
  background-size: cover;
  font-family: sans-serif;
  margin: 0 0 33vh;
  text-align: center;
}

a {
  color: white;
  transition: color 150ms;
}
a:hover {
  color: lightblue;
}

body,
button,
input {
  border: none;
  color: white;
  font-size: 1.5rem;
}

button,
input {
  background: #26282e;
  margin: 0.25rem;
  padding: 0.25rem 0.5rem;
}

button {
  cursor: pointer;
}

h1 {
  margin: 1rem 0;
}

h2 {
  margin: .5rem 0;
}
h2:first-child {
  margin-top: 0;
}

img {
  max-height: 100%;
  max-width: 100%;
}

.links-container {
  display: flex;
  justify-content: center;
  margin-top: .5rem;
}
.links-container a {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: 1.25rem;
  height: 7em;
}
.links-container span {
  display: flex;
  flex-direction: column;
  height: 2em;
  justify-content: center;
}
.links-container .thumb {
  align-items: center;
  display: flex;
  height: 5vw;
  justify-content: center;
  margin: 0 .75rem .25rem;
  width: 5vw;
}

.asset-group {
  margin: 1em auto;
  width: 50vw;
}
.asset-group.flex {
  display: flex;
  justify-content: space-around;
}

.checkerboard {
  background: url(../../assets/images/checkerboard.png);
}
