html {
  scroll-behavior: smooth;
}

body {
  background-attachment: fixed;
  background-color: #1b2838;
  background-size: cover;
  font-family: sans-serif;
  margin: 0 0 33vh;
  text-align: center;
}

a {
  color: white;
  transition: color 150ms;
}
a:hover {
  color: lightblue;
}

body,
button,
input {
  border: none;
  color: white;
  font-size: 1.5rem;
}

button,
input {
  background: #26282e;
  margin: 0.25rem;
  padding: 0.25rem 0.5rem;
}

button {
  cursor: pointer;
}

h1 {
  margin: 1rem 0;
}

h2:first-child {
  margin-top: 0;
}

img {
  max-width: 100%;
}

.links-container {
  display: flex;
  justify-content: center;
  margin-top: .5rem;
}
.links-container a {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.25rem;
}
.links-container .thumb {
  font-size: 1rem;
  height: 5vw;
  width: 5vw;
  object-fit: contain;
  padding: 0 .75rem;
  margin-bottom: .25rem;
}

.asset-group {
  padding: 1em 2rem;
}
.asset-group img {
  max-width: 50vw;
}

.checkerboard {
  background: url(../../assets/images/checkerboard.png);
}

/* utility */
.flex {
  display: flex;
}
.justify-center {
  justify-content: center;
}
